{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title 'Contact Us' %}

{% block _contact_help %}
    <div class="alert alert-info">
        {{ block('form_help') }}
    </div>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_help(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}

        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
